/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: rgb(26, 43, 43);
  transition: all 0.5s ease;
  border-right:  1px solid black;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
  background: url('https://api.iconify.design/clarity/bug-line.svg?color=%235b9494') no-repeat center center / contain;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: black;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: rgb(0, 0, 0);
}
.sidebar .nav-links li a:hover{
  background: rgb(69, 104, 104);
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #5B9494;
}
.sidebar .nav-links li a .links_name{
  color: darkslategray;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background-color: red;
  background: url('https://api.iconify.design/clarity/bug-line.svg?color=%231a2b2b&rotate=90deg') no-repeat center center / contain;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 91px;
  background: rgb(26, 43, 43);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;

}
.titleBarBtns > .topBtn{
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;

  
}
.titleBarBtns > .topBtn:hover{
  background-color: rgb(65, 109, 109);
  
}
.titleBarBtns > .topBtn:active{
  background-color: #4F9FEE;
}
.titleBarBtns > .minimizeBtn{
  padding-left: 5px;
  position: relative;
  background-image: url('../edit-view/icons/icon_minimize.png');
}
.titleBarBtns > .maximizeBtn{
  background-image: url('../edit-view/icons/icon_maximize.png');
}
.titleBarBtns > .restoreBtn{
  background-image: url('../edit-view/icons/icon_restore.png');
}
.titleBarBtns > .closeBtn{
  background-image: url('../edit-view/icons/icon_close.png');
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  
}
.home-section nav .search-box{
  position: absolute; left: 270px;
  height: 50px;
  max-width: 350px;
  width: 100%;
  margin: 0 20px;  
    
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: darkslategrey;
  border: 1px solid rgb(65, 109, 109);
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  color: #5B9494;
  font-weight: 800;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: darkslategrey;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #5B9494;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: darkslategrey;
  border: 1px solid rgb(65, 109, 109);
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
  position: absolute; right: 150px
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #5B9494;
  margin: 0 10px;
  white-space: nowrap;
  position: absolute; 
}
nav .profile-details i{
  font-size: 25px;
  color: #5B9494;
  position: absolute; right:0px;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
  opacity: 90%;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #5B9494;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  opacity: 90%;
}

/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #5B9494;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box {
  font-size: 24px;
  font-weight: 500;
  font-weight: 800;
  opacity: 90%;
  color: rgb(26, 43, 43);
  font-weight: 800;
 
  /* margin-bottom: 10px; */
}
.sales-boxes .userViewBtns{
  background-color: transparent;
  position: relative;
}
.userViewBtns .editBtn{
  background-color: darkslategray;
  color: #5B9494;
  font-size: 20px;
  padding: 1px 10px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  font-weight: 800;
  opacity: 90%;
  margin-left: 49%
}
.sales-boxes .userViewBtns .createBtn{
  background-color: darkslategray;
  color: #5B9494;
  font-size: 20px;
  padding: 1px 10px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  font-weight: 800;
  opacity: 90%;
  top: 150%;
  margin-left: 53%;
  margin-top: 70%;
}
.userViewBtns .deleteBtn{
  background-color: darkslategray;
  color: #5B9494;
  font-size: 20px;
  font-size: 20px;
  padding: 1px 10px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  font-weight: 800;
  opacity: 90%;
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #5B9494;
  background: darkslategray;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #0d3073;
}
.sidebar-button .dashboard{
  color: #5B9494;
}
/* Right box */
.home-content .sales-boxes .right-sales{
  width: 40%;
  background:  #5B9494;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 20%;
  position: relative;
  overflow:hidden;
  display: table;
  height: 30px;
}
.sales-boxes .right-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .right-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .right-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .right-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Left box */
.home-content .sales-boxes .left-sales{
  position: relative;
  width: 50%;
  background:  #5B9494;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 350px;
}
.sales-boxes .left-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .left-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .left-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .left-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Edit User*/
.createUser{
  font-weight: 800;
  width: 10%;
  color: #5B9494; 
}
.background-right{
  background: rgb(26, 43, 43);
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 12px;
  width: 100%;
  overflow: auto;
  color: #5B9494; 
}
.createView{
  width: 100%;
  position: relative;
  line-height: 35px;
}
.deleteBtn{
  position:absolute;
  right: 0px;
  bottom: -2px;
  color:rgb(26, 43, 43);
  background: rgb(65, 109, 109);
  font-weight: 1000;
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 12px;
  border: 2px solid rgb(65, 109, 109);
  cursor: pointer;
  display: inline-block;
}
.deleteBtn:hover{
  background-color: rgb(65, 109, 109);
}
.editBtn{
  position:absolute;
  right: 68px;
  bottom: -2px;
  margin-right: 2px;
  color:rgb(26, 43, 43);
  background: rgb(65, 109, 109);
  font-weight: 1000;
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 12px;
  border: 2px solid rgb(65, 109, 109);
  cursor: pointer;
}
.editBtn:hover{
  background-color: rgb(65, 109, 109);
  background-color: #5B9494;
}
.createBtn{
  bottom: 12px;
  position: absolute;
  right: 28px;
  color:darkslategray;
  background: rgb(26, 43, 43);
  font-weight: 800;
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 12px;
  border: 2px solid rgb(65, 109, 109);
  cursor: pointer;
  display: inline-block;
}
.createBtn:hover{
  background-color: rgb(65, 109, 109);
}
.createUser{
  background: rgb(26, 43, 43);
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 12px;
  width: 100%;
  height: 235px;
}
.createUser .title{
  margin-right: 50px;
  font-size: 20px;
}
.search-box .nameTxtField {
  background-color: darkslategray; 
  font-weight: 800; 
  color: #5B9494; 
  width: 100%;
  border-radius: 6px;
  border: 2px solid rgb(65, 109, 109);
  height: 35px;
  font-size: 20px;
}
.search-box .userTxtField {
  background-color: darkslategray; 
  font-weight: 800; 
  color: #5B9494; 
  width: 100%;
  border-radius: 6px;
  border: 2px solid rgb(65, 109, 109);
  height: 38px;
  font-size: 20px;
  resize: none;
}
.projectName{
  position: relative;
  height: 31px;
  width: 100%;
  margin-right: 2px;
  color:rgb(65, 109, 109);
  background: rgb(26, 43, 43);
  font-weight: 1000;
  font-size: 20px;
  padding: 2px 8px;
  border-radius: 12px;
  border: 2px solid rgb(65, 109, 109);
  cursor: pointer;
  text-align:left;
  margin-bottom: 4px;
  line-height: 25px;
}
.projectName:hover{
  background-color: #5B9494;
}
